div .white {
  background-color: white;
}

div .red {
  background-color: red;
}

div .orange {
  background-color: orange;
}

div .black {
  background-color: black;
}

div .green {
  background-color: green;
}